<ul>
  <!--  link html-->
  <!--  <li>link html: <a href="/coins">coins</a></li>-->

  <!--  link rails-->
  <li><%= link_to("Coins", coins_path) %></li>
  <li><%= link_to("Myning Types", mining_types_path) %></li>
  <li><%= link_to("Google", "http://www.google.com.br") %></li>
</ul>